<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".php">tests/phpunit/testcases/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">.</directory>
		</blacklist>

		<whitelist>
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">./classes</directory>
			<file>./bp-block-users.php</file>
		</whitelist>
	</filter>
</phpunit>
